pytest
pytest-asyncio
fastapi
uvicorn
langchain-core
langgraph
sqlalchemy
pydantic
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-cloud-aiplatform
elevenlabs
python-dotenv
langgraph-checkpoint-postgres
psycopg[binary]
requests

# Auto-Formatting
autopep8
deepeval
